@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

/*-----      General      -----*/
body {
    font-family: 'Play', sans-serif;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

.shortcut {
    font-size: 150%;
}

/*-----      Navbar      -----*/

#navbar-colors {
    background-color: lightskyblue;
}

.navbar-dark .navbar-nav .nav-link {
    color: #777777;
}

/*-----      Footer      -----*/

footer {
    background-color: lightskyblue;
    color: #777777;
    min-height: 120px;
    margin: 0;
}

#footer-details {
    padding: 20px;
}

#footer-right h5,  .social-links{
    text-align: right;
}

footer a {
    color: #fafafa;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: fafafa;
    background: #777777;
    transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
}

.social-links li a i:hover {
    background: blue;
}

/*-----      Index       -----*/

.display-container {
    max-width: 1600px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.home-image {
    height: auto;
    max-width: 100%;
    animation-name: home-zoom;
    animation-duration: 8s;
    animation-fill-mode: backwards;
}

@keyframes home-zoom {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1.0);
    }
}

.catch-box {
    position: absolute;
    z-index: 1;
    margin: 0;
    right: 40px;
    bottom: 40px;
    width: 200px;
    height: 170px;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Play', sans-serif;
}

#catch-phrase {
    background-color: rgba(2, 203, 238, 0.5);
}

h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 1%;
    background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    100% {
        top: 40%;
        left: 50%;
        width: 20%;
        transform: translate(-50%, -50%);
    }
}

@keyframes slide {
    100% {
        top: 40%;
        left: 50%;
        width: 20%;
        transform: translate(-50%, -50%);
    }
}

.jumbotron {
    text-align: center;
}

/*-----      Forms       -----*/

.dropdown-content li>a, 
.dropdown-content li>span {
    color: #0D47A1;
}
        
textarea {
    /* Size of textarea */
    min-height: inherit;
    height: auto !important;
}
    
.waves-effect {
    /* Button shown behind footer when scrolling */
    z-index: 0;
}

label {
    margin-left: 10px;
}

/*-----      List views       -----*/
.collapsible-header {
    padding: 0;
}

.collapsible-header i {
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.card {
    padding: 20px;
}

td {
    padding:0;
}

table {
    border-collapse: inherit;
    margin: 10px;
}

.icon_col {
    width: 10%;
}

.first_col {
    width: 20%;
    font-weight: 600;
}

.mid_col {
    width: 5%;
}

.last_col {
    width: 30%;
}

.item-title {
    font-weight: 600;
}

.listpages {
    margin-bottom: 100px;
}

.vacancy-text {
    white-space: pre-wrap;
}
/*-----      User profile      -----*/
.tab .active {
    border: 2px solid #fff;
}

.table_data {
    width: 40%;
    text-align: left;
}

/*-----      Error messages      -----*/
.blink_me {
    animation: blinker 2s;
    animation-iteration-count: 2;
    color: red;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

/*-----      Smaller Devices      -----*/
@media only screen and (max-width: 768px) {
    /*-----      General      -----*/
    h1 {
        font-size: 3em;
    }
    
    /*-----      Footer      -----*/
    footer {
        height: 2rem;
        line-height: 2rem;
        font-size: 1.3rem;
        text-align: center;
        color: #fff;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    /*-----      General      -----*/
    h1 {
        font-size: 2em;
    }

    /*-----      Forms      -----*/
    .collapsible-header i {
        font-size: 20px;
    }

    table {
        font-size: smaller;
    }
    
    /*-----      Footer      -----*/
    footer {
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}