@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Montserrat&display=swap');

/*-----      General      -----*/
body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color: #bbdefb;
}

h1 {
    text-align: center;
}

/*-----      Navbar      -----*/
nav {
    padding: 0 2em;
}

nav .brand-logo {
    font-family: 'Barrio', cursive;
}

nav ul a {
    font-size: 1.4rem;
    text-transform: uppercase;
}

/*-----      Footer      -----*/
footer {
    height: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*-----      Forms       -----*/
.dropdown-content li>a, 
.dropdown-content li>span {
    color: #0D47A1;
}

.btn {
    margin: 20px;
}

.card {
    padding: 20px;
}

label {
    margin-left: 10px;
}

/*-----      Error messages      -----*/
.blink_me {
    animation: blinker 2s;
    animation-iteration-count: 2;
    color: red;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

/*-----     overrule Materialize css    -----*/
    /*-----     Size of textarea    -----*/
textarea{
    min-height: inherit;
    height: auto !important;
}

    /*-----     Button shown behind footer when scrolling       -----*/
.waves-effect {
    z-index: 0;
}

@media only screen and (max-width: 768px) {
    /*-----      General      -----*/
    h1 {
        font-size: 3em;
    }
    
    /*-----      Footer      -----*/
    footer {
        height: 2rem;
        line-height: 2rem;
        font-size: 1.3rem;
        text-align: center;
        color: #fff;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    /*-----      General      -----*/
    h1 {
        font-size: 2em;
    }
    
    /*-----      Footer      -----*/
    footer {
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}