/*      General      */
.container {
    background-color: #bbdefb;
}

/*      Footer      */
footer {
    height: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 {
    text-align: center;
}

/*      Forms       */
.dropdown-content li>a, 
.dropdown-content li>span {
    color: #0D47A1;
}

.btn {
    margin: 20px;
}

.card {
    padding: 20px;
}

label {
    margin-left: 10px;
}

/* overrule Materialize css */
    /* Size of textarea */
textarea{
    min-height: inherit;
    height: auto !important;
}

    /* Button shown behind footer when scrolling */
.waves-effect {
    z-index: 0;
}