@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

/*-----      General      -----*/
body {
    font-family: 'Play', sans-serif;
    background-color: #E2E8F0;  
}

.shortcut {
    font-size: 150%;
}

.min-height-div {
    min-height: 500px;
}

.first-container {
    margin-top: 150px;
    margin-bottom: 100px;
}

.first-container-cards {
    margin-top: 150px;
}

.second-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.9), 0 2px 2px 2px rgba(0,0,0,.4);
    border: 3px solid CadetBlue;
}

/*-----      Navbar      -----*/
.navbar-brand h2 {
    color: CadetBlue;
    font-weight: 900;
    line-height: inherit;
}

#navbar-colors {
    background-color: LightSkyBlue;
}

.navbar-dark .navbar-nav .nav-link {
    color: #777777;
}

.navbar {
    padding-right: 50px;
}

.search-form {
    width: 15rem;
}

/*-----      Footer      -----*/
footer {
    background-color: LightSkyBlue;
    color: #777777;
    min-height: 150px;
    margin: 0;
    width: 100%
}

#footer-details {
    padding: 20px;
}

.bi-envelope-fill {
    margin: initial;
}

.only-mobile {
    display: none;
}

#footer-right h5,  .social-links {
    text-align: right;
}

footer a {
    color: #FAFAFA;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 30px;
    height: 30px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #FAFAFA;
    background: #777777;
    transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
}

.social-links li a i:hover {
    background: CadetBlue;
}

/*-----      Index       -----*/
.display-container {
    max-height: 700px;
    overflow: hidden;
    position: relative;
}
img {
    vertical-align: middle;
    border-style: none;
}

.home-image {
    height: auto;
    width: 100%;
    animation-name: home-zoom;
    animation-duration: 8s;
    animation-fill-mode: backwards;
}

@keyframes home-zoom {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1.0);
    }
}

.catch-box {
    position: absolute;
    z-index: 1;
    margin: 0;
    right: 40px;
    bottom: 40px;
    width: 200px;
    height: 170px;
    padding: 10px;
    color: #FAFAFA;
    font-weight: 600;
    text-transform: uppercase;
}

#catch-phrase {
    background-color: rgba(2, 203, 238, 0.5);
}

h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 1%;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    100% {
        top: 40%;
        left: 50%;
        width: 20%;
        max-width: 300px;
        max-height: 300px;
        transform: translate(-50%, -50%);
    }
}

@keyframes slide {
    100% {
        top: 40%;
        left: 50%;
        width: 20%;
        max-width: 300px;
        max-height: 300px;
        transform: translate(-50%, -50%);
    }
}

div.header h1 {
    background-color: LightSkyBlue;
    margin: 0;
    padding: 20px;
    text-align: center;
    height: 120px;
}

.jumbotron {
    text-align: center;
    background-color: CadetBlue;
    color: #FAFAFA;
    margin-bottom: auto;
}

hr {
    height: 3px;
    border-width: 0;
    background-color: #777777;
    width: 50%;
}

svg {
    color: #777777;
    display: block;
    margin: auto;
}

.blockquote {
    color: #777777;
    margin: 0;
    min-height: 0px;
    box-sizing: content-box;
}

.quotes {
    text-align: center;
    color: #777777;
}

.references {
    margin-bottom: 150px;
}

.mobile-line {
    display: none;
}

/*-----      Modals     -----*/
.modal-header {
    background-color: CadetBlue;
    color: #FAFAFA;
}

/*-----      Error messages      -----*/
.blink_me {
    animation: blinker 2s;
    animation-iteration-count: 2;
    color: #777777;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.flashes {
    width: 100%;
    margin: auto;
    margin-top: 80px;
    padding-top: 10px;
    font-size: x-large;
    text-align: center;
    z-index: 100;
    display: inline-table;
    background-color: yellow;
}

/*-----      Vacancies & Applications      -----*/
.intro-text {
    font-size: larger;
}

.center-button {
    text-align: center;
    margin-bottom: 20px;
    display: block;
}

.button-margin {
    margin: auto;
}

.center {
    text-align: center;
}

.card-deck {
    justify-content: center;
}

@media (min-width: 576px){
    .card-deck .card {
        flex: none;
        margin-bottom: 20px;
    }
}

.hr-vacancy {
    width: 100%;
}

.textarea-breaks {
    white-space: pre-wrap;
}

/*-----      Users      -----*/
.table .thead-dark th {
    background-color: CadetBlue;
    border: none;
}

tr.accordion-toggle {
    background-color: LightSkyBlue;
}

div.accordion-body {
    border: 2px solid #777777;
    border-radius: 10px;
}

.user-collapse {
    width: 50%;
    margin: auto;
}

.display-grid {
    display: grid;
}

.rounded-circle{
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 10px;
    display: block;
}

#image_url {
    margin: 10px;
}

#image_url_button {
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}

/*-- Profile --*/
.text-right {
    text-align: right;
}

.text-info {
    color: CadetBlue;
}

/*-----      Error pages      -----*/
.error-alignment {
    margin: auto;
}

.error-message {
    margin: auto;
    width: 100%;
}

/*-----      Smaller Devices      -----*/
@media only screen and (max-width: 768px) {
    /*-----      Footer      -----*/
    /*.social-link-spacing {
        display: inline-block;
        margin-bottom: 5px;
    }*/

    /*-----      Index      -----*/
    .catch-box {
        display: none;
    }

    @-webkit-keyframes slide {
        100% {
            top: 50%;
            left: 50%;
            width: 20%;
            max-width: 200px;
            max-height: 200px;
            transform: translate(-50%, -50%);
        }
    }

    @keyframes slide {
        100% {
            top: 50%;
            left: 50%;
            width: 20%;
            max-width: 200px;
            max-height: 200px;    
            transform: translate(-50%, -50%);
        }
    }
}

@media only screen and (max-width: 600px) {
    /*-----      Navbar      -----*/
    .navbar-brand h1 {
        font-size: xx-large;
    }

    /*-----      Index      -----*/
    @-webkit-keyframes slide {
        100% {
            top: 60%;
            left: 50%;
            width: 20%;
            max-width: 100px;
            max-height: 100px;
            transform: translate(-50%, -50%);
        }
    }

    @keyframes slide {
        100% {
            top: 60%;
            left: 50%;
            width: 20%;
            max-width: 100px;
            max-height: 100px;
            transform: translate(-50%, -50%);
        }
    }

    .references {
        margin-bottom: 50px;   
    }

    .mobile-line {
        display: inline-block;
    }

    /*-----      Footer      -----*/
    .center-mobile {
        text-align: center;
        margin: auto;
    }

    .only-mobile {
        display: inline;
        margin: auto;
    }

    #footer-right h5{
        text-align: center;
        margin: auto;
    }

    /*
    footer {
        padding-bottom: 40px;
    }

    .footer-spacing {
        margin-bottom: 5px;
    }

    footer h5 {
        display: block;
    }

    #footer-mid {
        text-align: right;
    }

    #footer-right h5 {
        text-align: left;
    }

    .social-links {
        padding: 0;
        margin-top: 20px;
        position: absolute;
    }*/

    .mobile-hidden {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    /*-----      Index      -----*/
    h1 {
        font-size: 1.8rem;
    }
    div.header {
        height: 80px;
    }
}

/*-----      iPad Pro 12.9   -----*/
@media only screen and (width: 1024px) and ( height:1366px) {
    /* On the Ipad a fixed footer due to high resolution */
    footer {
        position: fixed;
        bottom: 0;
    }
}