{% extends 'base.html' %} 
{% block content %}

<!--    Error page      -->
<!--    Idea from https://flask.palletsprojects.com/en/1.1.x/patterns/errorpages/  -->
    <div class="container first-container">
        <div class="row">

<!--    Image section    -->
            <img alt="Upset Person on Computer" class="error-alignment"
                src="{{ url_for('static', filename='img/error.jpg') }}">


<!--    Message section    -->
            <div class="col-12">
                <div class="center error-message">
                    <h1>404 Seems you got lost</h1>
                    <h1>Use the menu to get back to home page</h1>
                </div>
            </div>
        </div>
    </div>

{% endblock %}