{% extends 'base.html' %} {% block content %}

<!--    A page for a new application -->
    <div class="container first-container">
        <div class="row">

<!--    Title section     -->
            <div class="col">
                <form action="{{url_for('insert_application')}}" method="POST">
                {% if g.user['profile'] == 'admin' %}
                    <h1>
                        Add Application
                    </h1>
                {% else %}
                    <h1>
                        Application
                    </h1>
                {% endif %}

<!--    Name of the vacancy, function title of the job    -->
<!--    Prefilled when creating from a vacancy   -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-8">
                                <label for="vacancy_name">
                                    Vacancy Name
                                </label>

<!--    Prefilled and readonly for a regular user  -->
                            {% if g.user['profile'] != 'admin' %}
                                <select id="vacancy_id" name="vacancy_id" class="form-control">
                                    <option value="{{ vac._id }}" disabled selected>
                                        {{ vacancy.vacancy_name }}
                                    </option>
                                </select>
                            {% else %}
                                <select id="vacancy_id" name="vacancy_id" class="form-control">
                                    <option disabled selected>
                                        Choose Vacancy
                                    </option>
                                    <option disabled>
                                        -- Open vacancies --
                                    </option>

<!-- Open vacancies shown in dropdown menu -->
                                {% for vac in open_vacancies %}
                                    {% if vac.vacancy_name == vacancy.vacancy_name %}
                                    <option value="{{ vac._id }}" selected>
                                        {{ vac.vacancy_name }}
                                    </option>
                                    {% else %}
                                    <option value="{{ vac._id }}">
                                        {{ vac.vacancy_name }}
                                    </option>
                                    {% endif %}
                                {% endfor %}
                                    <option disabled>
                                        -- Closed vacancies --
                                    </option>

<!-- Closed vacancies shown in dropdown menu -->
                                {% for vac in closed_vacancies %}
                                    {% if vac.vacancy_name == vacancy.vacancy_name %}
                                    <option value="{{ vac._id }}" selected>
                                        {{ vac.vacancy_name }}
                                    </option>
                                    {% else %}
                                    <option value="{{ vac._id }}">
                                        {{ vac.vacancy_name }}
                                    </option>
                                    {% endif %}
                                {% endfor %}
                                </select> 
                            {% endif %}
                            </div>

<!--    Application status     -->
                            <div class="col-4">
                                <label for="status">
                                    Status Job Application
                                </label> 
                            {% if g.user['profile'] != 'admin' %}
                                <input value="open" id="status" name="status" type="text" class="form-control" readonly/>
                            {% else %}
                                <select id="status" name="status" class="form-control">
                                    <option disabled selected>
                                        Choose Status
                                    </option>
                                {% for stat in status %}
                                    <option value="{{ stat.status_name }}">
                                        {{ stat.status_name }}
                                    </option>
                                {% endfor %}
                                </select>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">

<!--    Availability of the candidate and candidate name    -->
                            <div class="col-6">
                                <label for="start_date">
                                    Available from
                                </label>
                                <input class="form-control" type="date" id="start_date" name="start_date">
                            </div>
                            <div class="input-field col s6">
                                <label for="candidate_name">
                                    Candidate name
                                </label>

<!--    Prefilled and readonly for a regular user  -->
                            {% if g.user['profile'] != 'admin' %}
                                <input value="{{ g.user['user_name'] }}" id="candidate_name" name="candidate_name" type="text" class="form-control" readonly /> 
                            {% else %}
                                <select id="candidate_name" name="candidate_name" class="form-control">
                                    <option disabled selected>
                                        Choose Candidate
                                    </option>
                                    <option disabled>
                                        -- Active Candidates --
                                    </option>

<!-- Active candidates shown in dropdown menu -->
                                {% for can in active_candidates %}
                                    <option value="{{ can.user_name }}">{{ can.user_name }}</option>
                                {% endfor %}
                                    <option disabled>
                                        -- Inactive Candidates --
                                    </option>

<!-- Inactive candidates shown in dropdown menu -->
                                {% for can in inactive_candidates %}
                                    <option value="{{ can.user_name }}">
                                        {{ can.user_name }}
                                    </option>
                                {% endfor %}
                                </select> 
                            {% endif %}
                            </div>
                        </div>
                    </div>

<!--    Comments on the application or from candidate    -->
                    <div class="form-group">
                        <label for="comments">
                                Comments
                            </label>
                        <textarea id="comments" name="comments" class="form-control" rows="5"></textarea>
                    </div>

<!--    Will not show vacancy information if the vacancy isn't set yet   -->
                {% if vacancy != '' %}
<!--    More info about the vacancy   -->
                    <div class="row">
                        <div class="col-12">
                            <h1>
                                Vacancy information
                            </h1>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="hours">
                                    Hours
                                </label>
                            {% if g.user['profile'] == 'admin' %}
                                <input type="text" class="form-control" id="hours" name="hours" value="{{ vacancy.hours }}">
                            {% else%}
                                <input type="text" class="form-control" id="hours" name="hours" value="{{ vacancy.hours }}" readonly>
                            {% endif %}
                            </div>
                            <div class="col-6">
                                <label for="salary">
                                    Salary
                                </label>
                            {% if g.user['profile'] == 'admin' %}
                                <input type="text" class="form-control" id="salary" name="salary" value="{{ vacancy.salary }}">
                            {% else%}
                                <input type="text" class="form-control" id="salary" name="salary" value="{{ vacancy.salary }}" readonly>
                            {% endif %}
                            </div>
                        </div>
                    </div>

<!--    URL for the phote for the vacancy. Is displayed on edit on on global vacancies page    -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="photo_url">
                                    Url for the Photo
                                </label>
                            {% if g.user['profile'] == 'admin' %}
                                <select class="form-control" id="photo_url" name="photo_url" value="{{ vacancy.photo_url }}">
                            {% else%}
                                <select class="form-control" id="photo_url" name="photo_url" value="{{ vacancy.photo_url }}" readonly>
                            {% endif %}
                                {% if vacancy.photo_url == '' %}
                                    <option disabled selected>
                                {% else %}
                                    <option disabled>
                                {% endif %}
                                        Choose Image
                                    </option>
                                {% for photo in photos %}
                                    {% if photo.photo_url == vacancy.photo_url %}
                                    <option value="{{ photo.photo_url }}" selected>
                                        {{ photo.name }}
                                    </option>
                                    {% else %}
                                    <option value="{{ photo.photo_url }}">
                                        {{ photo.name }}
                                    </option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <label for="location">
                                    Location
                                </label>
                            {% if g.user['profile'] == 'admin' %}
                                <input type="text" class="form-control" id="location" name="location" value="{{ vacancy.location }}">
                            {% else%}
                                <input type="text" class="form-control" id="location" name="location" value="{{ vacancy.location }}" readonly>
                            {% endif %}
                            </div>
                        </div>
                    </div>

<!--    Vacancy text, line break can be used in this textarea    -->
                    <div class="form-group">
                        <label for="vacancy_text">
                            Vacancy Text
                        </label>
                    {% if g.user['profile'] == 'admin' %}
                        <textarea class="form-control" id="vacancy_text" name="vacancy_text" rows="20">{{vacancy.vacancy_text}}</textarea>
                    {% else%}
                        <textarea class="form-control" id="vacancy_text" name="vacancy_text" rows="20" readonly>{{vacancy.vacancy_text}}</textarea>
                    {% endif %}
                    </div>
                {% endif %}

<!--    Save button will save and redirect back to the vacancies page, cancel will not save   -->
                    <div class="row center-button">
                        <button type="submit" class="btn btn-primary" name="save">
                            Save
                        </button>
                        <button type="submit" class="btn btn-danger" name="cancel">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}