{% extends 'base.html' %}
{% block content %}

<!--    A page for open vacancies -->
    <div class="container first-container">
        <div class="row">

<!--    Title section     -->
            <div class="col">
                <form action="{{url_for('insert_user')}}" method="POST">
                    <div class="row">
                        <div class="col-6">
                            <h1>
                                Add User
                            </h1>
                        </div>

<!--    Add a profile pisture url and load the url with the button    -->
                        <div class="col-6 display-grid">
                            <img class="rounded-circle" id="blah" src="https://github.com/VolkovBos/milestone3_jobboard/blob/master/static/img/profile.png?raw=true" alt="your image" />
                            <label for="image_url">
                                Url for profile photo
                            </label>
                            <input type="text" class="form-control" id="image_url" name="image_url">
                            <button type="button" class="btn btn-primary" name="load" id="image_url_button">
                                Load Image
                            </button>
                        </div>
                    </div>
                    
<!--    User name & Email     -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="user_name">
                                    User Name
                                </label>
                                <input type="text" class="form-control" id="user_name" name="user_name" required>
                            </div>
                            <div class="col-6">
                                <label for="email">
                                    Email
                                </label>
                                <input type="email" class="form-control" id="email" name="email">
                            </div>
                        </div>
                    </div>

<!--    Profile & Password    -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="profile">
                                    Profile
                                </label>
                                <select class="form-control" id="profile" name="profile" required>
                                    <option disabled selected>
                                        Choose Profile
                                    </option>
                                {% for prof in profiles %}
                                    <option value="{{ prof.name }}">
                                        {{ prof.name }}
                                    </option>
                                {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <label for="password">
                                    Password
                                </label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                        </div>
                    </div>

<!--    Status & user_id     -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="status">
                                    Status
                                </label>
                                <select class="form-control" id="status" name="status" required>
                                    <option disabled selected>
                                        Choose Status
                                    </option>
                                {% for stat in status %}
                                    <option value="{{ stat.status_name }}">
                                        {{ stat.status_name }}
                                    </option>
                                {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <label for="user_id">
                                    User Id
                                </label>
                                <input value="{{max_user_id}}" type="number" class="form-control" id="user_id" name="user_id" required>
                            </div>
                        </div>
                    </div>

<!--    First & Last name of the candidate    -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="given-name">
                                    Candidate first name
                                </label>
                                <input type="text" class="form-control" id="given-name" name="given-name">
                            </div>
                            <div class="col-6">
                                <label for="family-name">
                                    Candidate last name
                                </label>
                                <input type="text" class="form-control" id="family-name" name="family-name">
                            </div>
                        </div>
                    </div>

<!--    Address of the candidate    -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="street">
                                    Street
                                </label>
                                <input type="text" class="form-control" id="street" name="street">
                            </div>
                            <div class="col-6">
                                <label for="address-line2">
                                    House Nr
                                </label>
                                <input type="text" class="form-control" id="address-line2" name="address-line2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="zip_code">
                                    ZIP Code
                                </label>
                                <input type="text" class="form-control" id="zip_code" name="zip_code">
                            </div>
                            <div class="col-6">
                                <label for="city">
                                    City
                                </label>
                                <input type="text" class="form-control" id="city" name="city">
                            </div>
                        </div>
                    </div>

<!--    Save button will save and redirect back to the vacancies page, cancel will not save   -->
                    <div class="row center-button">
                        <button type="submit" class="btn btn-primary" name="save">
                            Save
                        </button>
                        <button type="submit" class="btn btn-danger" name="cancel">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}