{% extends 'base.html' %}
{% block content %}

<!--    A page for (open) applications -->
    <div class="container first-container">
        <div class="row">

<!--    Title open section     -->
            <div class="col">
            {% if g.user['profile'] == 'admin' %}
                <h1>Open Applications</h1>
            {% else %}
                <h1>My Applications</h1>
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9 col-md-7">

<!--    Short information section    -->
                <p class="intro-text">
                    Here you see you job applications, ongoing and the history. If you have a specific question about the status of a application or you want to know more about the vacancy you applied on, please feel free to <a title="Contact us" href="#" data-toggle="modal" data-target="#contactModal">contact us</a> or contact your recruiter!
                </p>
            </div>
            <div class="col">

<!--    Button to add application, only available for admin    -->
            {%  if g.user['profile'] == 'admin' %}
                <a href="{{url_for('add_application', vacancy_id='admin')}}" class="btn btn-outline-success center-button">
                    + Add Application
                </a>
            {% endif %}
            </div>
            </div>
        </div>

<!--    Carddeck of applications      -->
        <div class="card-deck">
        {% for apl in applications_open %}
            <div class="card col-sm-12 col-md-5">
            {% if apl.photo_url != '' and apl.photo_url != null %}
                <img class="card-img-top" src="{{apl.photo_url}}" alt="Card image cap">
            {% endif %}
                <div class="card-body">
                    <div class="row center-button">

<!--    Button section, only availlable when logged in     -->
                    {%  if g.user['profile'] == 'admin' %}
                        <a href="{{url_for('edit_application', application_id=apl._id)}}" class="btn btn-outline-info button-margin">Edit</a>
                        <a href="{{url_for('close_application', application_id=apl._id)}}" class="btn btn-outline-warning button-margin">Close</a>
                        <a href="{{url_for('delete_application', application_id=apl._id)}}" class="btn btn-outline-danger button-margin">Delete</a>
                    {% endif %}
                    </div>

<!--    Vacancy information, where the candidate has applied for      -->
                    <h5 class="card-title center">{{apl.vacancy_name}}</h5>
                    <hr class="hr-vacancy">
                    <p class="card-text center">
                        {% if apl.hours != null and apl.hours != '' %}Hours : {{apl.hours}} {% endif %}<br>
                        {% if apl.salary != null and apl.salary != '' %}Salary : {{apl.salary}} {% endif %}<br>
                        {% if apl.location != null and apl.location != '' %}Location : {{apl.location}} {% endif %}
                    </p>
                    <hr class="hr-vacancy">
                    <p class="card-text textarea-breaks">{{apl.vacancy_text}}</p>
                    <p class="card-text"><small class="text-muted">closes on {{apl.end_date}}</small></p>
                </div>
            </div>
        {% endfor %}
        </div>

    </div>

{% endblock %}