{% extends 'base.html' %}
{% block content %}

<!--    A page for (open) applications -->
<!--    This section shows the ongoing applications     -->
    <div class="container first-container-cards">
        <div class="row">

<!--    Title open section     -->
            <div class="col">
            {% if g.user['profile'] == 'admin' %}
                <h1>
                    Open Applications
                </h1>
            {% else %}
                <h1>
                    My Applications
                </h1>
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9 col-md-7">

<!--    Short information section    -->
                <p class="intro-text">
                    Here you see you job applications, ongoing and the history. If you have a specific question about the 
                    status of a application or you want to know more about the vacancy you applied on, please feel free to 
                    <a title="Contact us" href="#" data-toggle="modal" data-target="#contactModal">
                        contact us
                    </a> 
                    or contact your recruiter!
                </p>
            </div>
            <div class="col">

<!--    Button to add application, only available for admin    -->
            {%  if g.user['profile'] == 'admin' %}
                <a href="{{url_for('add_application', vacancy_id='admin')}}" class="btn btn-outline-success center-button">
                    + Add Application
                </a>
            {% endif %}
            </div>
        </div>
    </div>

<!--    Carddeck of applications      -->
    <hr>
    <div class="card-deck">
    {% if nr_applications_open > 0 %}
        {% for apl in applications_open %}
            {% with listtype='applications', liststatus='open' %}
                {% include 'cards.html' %}
            {% endwith %}
        {% endfor %}
    {% else %}
        <h2> 
            No applications found 
        </h2>
    {% endif %}
    </div>

<!--    This section shows the closed/old applications     -->
{% if nr_applications_closed > 0 %}
    <hr>
    <div class="container second-container">
        <div class="row">

<!--    Title closed section     -->
            <div class="col">
                <h1>
                    Closed Applications
                </h1>
            </div>
        </div>
    </div>

<!--    Carddeck of applications      -->
    <div class="card-deck">
    {% for apl in applications_closed %}
        {% with listtype='applications', liststatus='closed' %}
            {% include 'cards.html' %}
        {% endwith %}
    {% endfor %}
    </div>
{% endif %}

{% endblock %}