{% extends 'base.html' %}
{% block content %}

<!--    A form to change your password -->
        <div class="container">

<!--    Title    -->
            <div class="title-text">
                <h1>Change password</h1>
            </div>

<!--    Error messages  -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <p class="blink_me center">{{ message }}</p>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
            <div class="row">

<!--    Form        -->
                <form action="{{url_for('update_password', user_id=user._id)}}" method="POST" class="col s12">
                    <div class="row center">
                        <button class="btn waves-effect waves-light" type="submit" name="action">
                            Change
                            <i class="material-icons right">person_add</i>
                        </button>
                    </div>
                    <div class="title-text">
                        <h6><i class="material-icons prefix">verified_user</i>Old password</h6>
                    </div>

<!--    Old password        -->
                    <div class="row center">
                        <div class="input-field col s12">
                            <input id="password_old" name="password_old" type="password" class="validate" />
                            <label for="password_old">Password</label>
                        </div>
                    </div>
                    <div class="title-text">
                        <h6><i class="material-icons prefix">verified_user</i>New password</h6>
                    </div>

<!--    New password        -->
                    <div class="row center">
                        <div class="input-field col s12">
                            <input id="password_new" name="password_new" type="password" class="validate" />
                            <label for="password_new">Password</label>
                        </div>
                    </div>
                    <div class="title-text">
                        <h6><i class="material-icons prefix">verified_user</i>Confirm new password</h6>
                    </div>

<!--    Confirm new password        -->
                    <div class="row center">
                        <div class="input-field col s12">
                            <input id="password_new_confirm" name="password_new_confirm" type="password" class="validate" />
                            <label for="password_new_confirm">Password</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>

{% endblock %}