{% extends 'base.html' %}
{% block content %}

<!--    A Contact form to get in touch       -->
    <div class="container">
<!--    Title      -->
        <div class="row">
            <h1>Contact us</h1>
        </div>

<!--    Form      -->
        <div class="row">
            <form class="" onsubmit="return sendMail(this);">
                <div class="form-group card card-body bg-lightBlue">
                    <div class="row">
<!--    Contact Subject      -->
                        <div class="input-field col s12">
                            <select id="subject" name="subject">
                                <option disabled selected>Choose Subject</option>
                                <option value="Interested in a vacancy">Interested in a vacancy</option>
                                <option value=">General info about the company">General info about the company</option>
                                <option value="Other">Other</option>
                            </select>
                            <label>Subject</label>
                        </div>
                    </div>
                    <div class="row">
<!--    Contact Name      -->
                        <div class="input-field col s12">
                            <input type="text" id="name" name="name" class="input" required/>
                            <label id="nameLabel" class="strong-label">Name</label>
                        </div>
                    </div>
                    <div class="row">
<!--    Contact Email      -->
                        <div class="input-field col s12">
                            <input type="email" id="email" name="email" class="input" required/>
                            <label id="emailLabel" class="strong-label">Email</label>
                        </div>
                    </div>
                    <div class="row">
<!--    Contact Message      -->
                        <div class="input-field col s12">
                            <textarea rows="10" id="message" name="message" class="form-control form-margin" required></textarea>
                            <label id="messageLabelgit" class="strong-label">Message</label>
                        </div>
                    </div>
<!--    Contact Button      -->
                    <div class="center">
                        <button class="btn waves-effect waves-light" type="submit">
                            <i class="material-icons right">arrow_forward</i>
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}