{% extends 'base.html' %} {% block content %}

<!--    A page to edit an application -->
    <div class="container first-container">
        <div class="row">

<!--    Title section     -->
            <div class="col">
                <form action="{{url_for('update_application', application_id=application._id)}}" method="POST">
                    <div class="row">
                        <div class="col-6">
                            <h1>
                                Edit Application
                            </h1>
                        </div>

<!--    Add a picture url and load the url when changing the select options   -->
                        <div class="col-6 display-grid" id="add-image">
                            <label for="photo_url">
                                Select Photo
                            </label>
                        {% if g.user['profile'] == 'admin' %}
                            <select class="form-control render-image" id="vacancy_photo_url" name="vacancy_photo_url">
                        {% else %}
                            <select class="form-control" id="vacancy_photo_url" name="vacancy_photo_url" disabled>
                        {% endif %}
                                <option disabled selected>
                                    Choose Image
                                </option>
                            {% for photo in photos %}
                            {% if photo.photo_url == application.vacancy_photo_url %}
                                <option value="{{ photo.photo_url }}" selected>
                                    {{ photo.name }}
                                </option>
                            {% else %}
                                <option value="{{ photo.photo_url }}">
                                    {{ photo.name }}
                                </option>
                            {% endif %}
                            {% endfor %}
                            </select>
                        </div>
                    </div>

<!--    Name of the vacancy, function title of the job    -->
<!--    Prefilled when creating from a vacancy   -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-8">
                                <label for="vacancy_job_title">
                                    Job Title
                                </label>

<!--    Prefilled and readonly for a regular user  -->
                                <select id="vacancy_id" name="vacancy_id" class="form-control">
                                    <option disabled>
                                        Choose Vacancy
                                    </option>
                                    <option disabled>
                                        -- Open vacancies --
                                    </option>

<!-- Open vacancies shown in dropdown menu -->
                                {% for vac in open_vacancies %}
                                    {% if vac.job_title == application.vacancy_job_title %}
                                    <option value="{{ vac._id }}" selected>
                                        {{ vac.job_title }}
                                    </option>
                                    {% else %}
                                    <option value="{{ vac._id }}">
                                        {{ vac.job_title }}
                                    </option>
                                    {% endif %}
                                {% endfor %}
                                    <option disabled>
                                        -- Closed vacancies --
                                    </option>

<!-- Closed vacancies shown in dropdown menu -->
                                {% for vac in closed_vacancies %}
                                    {% if vac.job_title == application.job_title %}
                                    <option value="{{ vac._id }}" selected>
                                        {{ vac.job_title }}
                                    </option>
                                    {% else %}
                                    <option value="{{ vac._id }}">
                                        {{ vac.job_title }}
                                    </option>
                                    {% endif %}
                                {% endfor %}
                                </select> 
                            </div>
                            

<!--    Application status     -->
                            <div class="col-4">
                                <label for="status">
                                    Status Job Application
                                </label> 
                                <select id="status" name="status" class="form-control">
                                    <option disabled selected>
                                        Choose Status
                                    </option>
                                {% for stat in status %}
                                    {% if stat.status_name == application.status %}
                                    <option value="{{ stat.status_name }}" selected>
                                        {{ stat.status_name }}
                                    </option>
                                    {% else %}
                                    <option value="{{ stat.status_name }}">
                                        {{ stat.status_name }}
                                    </option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                                <small class="col-12">
                                    If you change the vacancy, all the vacancy related information will be updated from the vacancy after you save
                                </small>
                            </div>
                    </div>
                    <div class="form-group">
                        <div class="row">

<!--    Availability of the candidate and candidate name    -->
                            <div class="col-6">
                                <label for="availability_date">
                                    Available from
                                </label>
                                <input value="{{ application.availability_date }}" class="form-control" type="date" id="availability_date" name="availability_date">
                            </div>
                            <div class="input-field col s6">
                                <label for="candidate_id">
                                    Candidate name
                                </label>

<!--    Prefilled candidates  -->
                                <select id="candidate_id" name="candidate_id" class="form-control">
                                    <option disabled>
                                        Choose Candidate
                                    </option>
                                    <option disabled>
                                        -- Active Candidates --
                                    </option>

<!-- Active candidates shown in dropdown menu -->
                                {% for can in active_candidates %}
                                    {% if can._id|string == application.candidate_id %}
                                    <option value="{{ can._id }}" selected>
                                        {{ can.first_name }} {{ can.last_name }}
                                    </option>
                                    {% else %}
                                    <option value="{{ can._id }}">
                                        {{ can.first_name }} {{ can.last_name }}
                                    </option>
                                    {% endif %}
                                {% endfor %}
                                    <option disabled>
                                        -- Inactive Candidates --
                                    </option>

<!-- Inactive candidates shown in dropdown menu -->
                                {% for can in inactive_candidates %}
                                    {% if can._id == application.candidate_id %}
                                    <option value="{{ can._id }}" selected>
                                        {{ can.first_name }} {{ can.last_name }}
                                    </option>
                                    {% else %}
                                    <option value="{{ can._id }}">
                                        {{ can.first_name }} {{ can.last_name }}
                                    </option>
                                    {% endif %}
                                {% endfor %}
                                </select> 
                            </div>
                        </div>
                    </div>

<!--    Why is the candidate applicable for this vacancy   -->
                    <div class="form-group">
                        <label for="why_match">
                            {% if g.user['profile'] != 'admin' %}
                                Why are you interested ?
                            {% else %}
                                Why is this candidate interested ?
                            {% endif %}
                        </label>
                        <textarea id="why_match" name="why_match" class="form-control" rows="5">{{ application.why_match }}</textarea>
                    </div>

<!--    Comments on the application or from candidate    -->
                    <div class="form-group">
                        <label for="comments">
                                Comments
                            </label>
                        <textarea id="comments" name="comments" class="form-control" rows="5">{{ application.comments }}</textarea>
                    </div>

<!--    URL for the resume   -->
                    <div class="form-group">
                        <label for="url_resume">
                            URL for a resume
                        </label>
                        <input type="text" class="form-control" id="url_resume" name="url_resume" value="{{ application.url_resume }}">
                    </div>

<!--    More info about the vacancy   -->
                    <div class="row">
                        <div class="col-12">
                            <h1>
                                Vacancy information
                            </h1>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="vacancy_hours">
                                    Hours
                                </label>
                                <input value="{{ application.vacancy_hours }}" type="text" class="form-control" id="vacancy_hours" name="vacancy_hours">
                            </div>
                            <div class="col-6">
                                <label for="vacancy_salary">
                                    Salary
                                </label>
                                <input value="{{ application.vacancy_salary }}" type="text" class="form-control" id="vacancy_salary" name="vacancy_salary">
                            </div>
                        </div>
                    </div>

<!--    Location   -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="vacancy_location">
                                    Location
                                </label>
                                <input value="{{ application.vacancy_location }}" type="text" class="form-control" id="vacancy_location" name="vacancy_location">
                            </div>
                        </div>
                    </div>

<!--    Vacancy text, line break can be used in this textarea    -->
                    <div class="form-group">
                        <label for="vacancy_text">
                            Vacancy Text
                        </label>
                        <textarea class="form-control" id="vacancy_text" name="vacancy_text" rows="20">{{application.vacancy_text}}</textarea>
                    </div>

<!--    Save button will save and redirect back to the vacancies page, cancel will not save   -->
                    <div class="row center-button">
                        <button type="submit" class="btn btn-primary" name="save">
                            Save
                        </button>
                        <a href="{{ url_for('applications') }}" id="cancel" name="cancel" class="btn btn-danger">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}