{% extends 'base.html' %}
{% block content %}

<!--    A page for editing an user -->
    <div class="container first-container">
        <div class="row">

<!--    Title section     -->
            <div class="col">
                <form action="{{url_for('update_user', userid=user._id)}}" method="POST">
                    <div class="row">
                        <div class="col-6">
                            <h1>
                                Edit Profile
                            </h1>
                        </div>

<!--    Add a profile pisture url and load the url with the button    -->
                        <div class="col-6 display-grid">
                            <img class="rounded-circle" id="blah" src="{{user.image_url}}" alt="your image" />
                            <label for="image_url">
                                Url for profile photo
                            </label>
                            <input value="{{user.image_url}}" type="text" class="form-control" id="image_url" name="image_url">
                            <button type="button" class="btn btn-primary" name="load" id="image_url_button">
                                Load Image
                            </button>
                        </div>
                    </div>
                    
<!--    User name & Profile     -->
                    <div class="row">
                        <div class="col-12">
                            <h1>
                                User account
                            </h1>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="user_name">
                                    User Name
                                </label>
                                <input value="{{user.user_name}}" type="text" class="form-control" id="user_name" name="user_name" {% if g.user['profile'] == 'admin' %}required {% else %}readonly{% endif%}>
                            </div>
                            <div class="col-6">
                                <label for="profile">
                                    Profile
                                </label>
                                <select class="form-control" id="profile" name="profile" {% if g.user['profile'] == 'admin' %}required {% else %}readonly{% endif%}>
                                    <option disabled>
                                        Choose Profile
                                    </option>
                                {% for prof in profiles %}
                                    {% if prof.name == user.profile %}
                                        <option value="{{ prof.name }}" selected>{{ prof.name }}</option>
                                    {% else %}
                                        <option value="{{ prof.name }}">{{ prof.name }}</option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

<!--    Status & user_id     -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="status">
                                    Status
                                </label>
                                <select class="form-control" id="status" name="status" {% if g.user['profile'] == 'admin' %}required {% else %}readonly{% endif%}>
                                    <option disabled>
                                        Choose Status
                                    </option>
                                {% for stat in status %}
                                    <option value="{{ stat.status_name }}">
                                        {{ stat.status_name }}
                                    </option>
                                {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <label for="user_id">
                                    User Id
                                </label>
                                <input value="{{user.user_id}}" type="number" class="form-control" id="user_id" name="user_id" {% if g.user['profile'] == 'admin' %}required {% else %}readonly{% endif%}>
                            </div>
                        </div>
                    </div>

<!--    First & Last name of the candidate    -->
                    <div class="row">
                        <div class="col-12">
                            <h1>
                                Candidate
                            </h1>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="given-name">
                                    Candidate first name
                                </label>
                                <input value="{{user.first_name}}" type="text" class="form-control" id="given-name" name="given-name">
                            </div>
                            <div class="col-6">
                                <label for="family-name">
                                    Candidate last name
                                </label>
                                <input value="{{user.last_name}}" type="text" class="form-control" id="family-name" name="family-name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="email">
                                    Email
                                </label>
                                <input value="{{user.email}}" type="email" class="form-control" id="email" name="email">
                            </div>
                            <div class="col-6">
                                <label for="email">
                                    Phone
                                </label>
                                <input value="{{user.phone}}" type="email" class="form-control" id="phone" name="phone">
                            </div>
                        </div>
                    </div>

<!--    Address of the candidate    -->
                    <div class="row">
                        <div class="col-12">
                            <h1>
                                Address info
                            </h1>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="street">
                                    Street
                                </label>
                                <input value="{{user.street}}" type="text" class="form-control" id="street" name="street">
                            </div>
                            <div class="col-6">
                                <label for="address-line2">
                                    House Nr
                                </label>
                                <input value="{{user.house_nr}}" type="text" class="form-control" id="address-line2" name="address-line2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="zip_code">
                                    ZIP Code
                                </label>
                                <input value="{{user.zip_code}}" type="text" class="form-control" id="zip_code" name="zip_code">
                            </div>
                            <div class="col-6">
                                <label for="city">
                                    City
                                </label>
                                <input value="{{user.city}}" type="text" class="form-control" id="city" name="city">
                            </div>
                        </div>
                    </div>

<!--    Social links    -->
                    <div class="row">
                        <div class="col-12">
                            <h1>
                                Social
                            </h1>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="url_github">
                                    Github
                                </label>
                                <input value="{{user.url_github}}" type="text" class="form-control" id="url_github" name="url_github">
                            </div>
                            <div class="col-6">
                                <label for="url_twitter">
                                    Twitter
                                </label>
                                <input value="{{user.url_twitter}}" type="text" class="form-control" id="url_twitter" name="url_twitter">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="url_instagram">
                                    Instagram
                                </label>
                                <input value="{{user.url_instagram}}" type="text" class="form-control" id="url_instagram" name="url_instagram">
                            </div>
                            <div class="col-6">
                                <label for="url_linkedin">
                                    LinkedIn
                                </label>
                                <input value="{{user.url_linkedin}}" type="text" class="form-control" id="url_linkedin" name="url_linkedin">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="url_facebook">
                                    Facebook
                                </label>
                                <input value="{{user.url_facebook}}" type="text" class="form-control" id="url_facebook" name="url_facebook">
                            </div>
                        </div>
                    </div>

<!--    Skills section   -->
                    <div class="row">
                        <div class="col-12">
                            <h1>
                                Skills
                            </h1>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="skill1">
                                    Skill Name 1
                                </label>
                                <input value="{{user.skill1}}" type="text" class="form-control" id="skill1" name="skill1">
                            </div>
                            <div class="col-6">
                                <label for="skillp1">
                                    Skill %
                                </label>
                                <input value="{{user.skillp1}}" type="text" class="form-control" id="skillp1" name="skillp1">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="skill2">
                                    Skill Name 2
                                </label>
                                <input value="{{user.skill2}}" type="text" class="form-control" id="skill2" name="skill2">
                            </div>
                            <div class="col-6">
                                <label for="skillp2">
                                    Skill %
                                </label>
                                <input value="{{user.skillp2}}" type="text" class="form-control" id="skillp2" name="skillp2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="skill3">
                                    Skill Name 3
                                </label>
                                <input value="{{user.skill3}}" type="text" class="form-control" id="skill3" name="skill3">
                            </div>
                            <div class="col-6">
                                <label for="skillp3">
                                    Skill %
                                </label>
                                <input value="{{user.skillp3}}" type="text" class="form-control" id="skillp3" name="skillp3">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="skill4">
                                    Skill Name 4
                                </label>
                                <input value="{{user.skill4}}" type="text" class="form-control" id="skill4" name="skill4">
                            </div>
                            <div class="col-6">
                                <label for="skillp4">
                                    Skill %
                                </label>
                                <input value="{{user.skillp4}}" type="text" class="form-control" id="skillp4" name="skillp4">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="skill5">
                                    Skill Name 5
                                </label>
                                <input value="{{user.skill5}}" type="text" class="form-control" id="skill5" name="skill5">
                            </div>
                            <div class="col-6">
                                <label for="skillp5">
                                    Skill %
                                </label>
                                <input value="{{user.skillp5}}" type="text" class="form-control" id="skillp5" name="skillp5">
                            </div>
                        </div>
                    </div>

<!--    Save button will save and redirect back to the vacancies page, cancel will not save   -->
                    <div class="row center-button">
                        <button type="submit" class="btn btn-primary" name="save">
                            Save
                        </button>
                        <a href="{{ url_for('profile', userid=g.user['_id']) }}" id="cancel" name="cancel" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}