{% extends 'base.html' %}
{% block content %}

<!--    A page for open vacancies -->
    <div class="container first-container">
        <div class="row">

<!--    Title section     -->
            <div class="col">
                <h1>
                    {{vacancy.vacancy_name }}
                </h1>
            {% if vacancy.photo_url != '' and vacancy.photo_url != null %}
                <img class="card-img-top" src="{{vacancy.photo_url}}" alt="Vacancy image">
            {% endif %}
            </div>
            <div class="col">
                <form action="{{url_for('update_vacancy', vacancy_id=vacancy._id)}}" method="POST">
                    <h1>
                        Edit Vacancy
                    </h1>

<!--    Name of the vacancy, function title of the job    -->
                    <div class="form-group">
                        <label for="vacancy_name">
                            Vacancy Name
                        </label>
                        <input type="text" class="form-control" id="vacancy_name" name="vacancy_name" value="{{vacancy.vacancy_name }}">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">

<!--    Vacancy status is used for rendering vacancies on the global side of the website    -->
                                <label for="vacancy_status">
                                    Vacancy Status
                                </label>
                                <select class="form-control" id="vacancy_status" name="vacancy_status">
                                    <option disabled>
                                        Choose Status
                                    </option>
                            {% for stat in status %}
                                {% if stat.status_name == vacancy.vacancy_status %}
                                    <option value="{{ stat.status_name }}" selected>
                                        {{ stat.status_name }}
                                    </option>
                                {% else %}
                                    <option value="{{ stat.status_name }}">
                                        {{ stat.status_name }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <label for="location">
                                    Location
                                </label>
                                <input type="text" class="form-control" id="location" name="location" value="{{vacancy.location }}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="hours">
                                    Hours
                                </label>
                                <input type="text" class="form-control" id="hours" name="hours" value="{{vacancy.hours }}">
                            </div>
                            <div class="col-6">
                                <label for="salary">
                                    Salary
                                </label>
                                <input type="text" class="form-control" id="salary" name="salary" value="{{vacancy.salary }}">
                            </div>
                        </div>
                    </div>

<!--    The duration of the vacancy    -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="start_date">
                                    Start date of the vacancy
                                </label>
                                <input class="form-control" type="date" value="{{vacancy.start_date }}" id="start_date" name="start_date">
                            </div>
                            <div class="col-6">
                                <label for="end_date">
                                    Closing date of the vacancy
                                </label>
                                <input class="form-control" type="date" value="{{vacancy.end_date }}" id="end_date" name="end_date">
                            </div>
                        </div>
                    </div>

<!--    URL for the phote for the vacancy. Is displayed on edit on on global vacancies page    -->
                    <div class="form-group">
                        <label for="photo_url">
                            Url for the Photo
                        </label>
                        <select class="form-control" id="photo_url" name="photo_url">
                            <option disabled>
                                Choose Image
                            </option>
                    {% for photo in photos %}
                        {% if photo.photo_url == vacancy.photo_url %}
                            <option value="{{ photo.photo_url }}" selected>
                                {{ photo.name }}
                            </option>
                        {% else %}
                            <option value="{{ photo.photo_url }}">
                                {{ photo.name }}
                            </option>
                        {% endif %}
                    {% endfor %}
                        </select>
                    </div>

<!--    Vacancy text, line break can be used in this textarea    -->
                    <div class="form-group">
                        <label for="vacancy_text">
                            Vacancy Text
                        </label>
                        <textarea class="form-control" id="vacancy_text" name="vacancy_text" rows="20">{{vacancy.vacancy_text }}</textarea>
                    </div>

<!--    Save button will save and redirect back to the vacancies page, update will save and stay on this page    -->
                    <div class="row center-button">
                        <button type="submit" class="btn btn-primary" name="save">
                            Save
                        </button>
                        <button type="submit" class="btn btn-dark" name="update">
                            Update
                        </button>
                        <button type="submit" class="btn btn-danger" name="cancel">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}