{% extends 'base.html' %}
{% block content %}

<div class="row">
<!--    Title      -->
    <div>
        <h1>Welcome to BOS UP</h1>
    </div>

<!--    Text      -->
    <div class="row container">
    <h2>Together towards a sustainable world</h2>
        <p class="center">
           At BOS UP you will work in an open and honest company culture. If you are keen to get to work, our customers will notice that. Their challenge is your challenge, and nothing is more fun than always finding the best solution together. That’s why we, as a team, are constantly working on our professional and personal development. Individually and as a team within the organisation. This is how we accomplish our goals together!
        </p>
        <h2>Utility at every level</h2>
        <p class="center">
            BOS UP has offers solutions to companies in the utility market. We do this in the form of people and experience. As a true knowledge based company, we focus on innovation and the movement towards data-driven services. We deliver, implement and provide service for and at every level. Our focus is however based on the IT side of our customers.
        </p>
        <h2>Sustainable relationship</h2>
        <p class="center">
            BOS UP wants to achieve a lot with you and within the team. We try to find the right people for our customers problems and we take in account the development path in which our employees are currently on. We map the challenges within an organisation accurately and from an experienced point of view. This means we always match the right professional to the right job. Do you want to join us ? <a href="{{ url_for('vacancies') }}">Check our vacancies!</a>
        </p>
    </div>
</div>

{% endblock %}