{% extends 'base.html' %}
{% block content %}

<!--    A Login Page for candidates and admins to log in     -->
        <div class="container">

<!--    Title      -->
            <div class="row">
                <h1>Login page</h1>
            </div>

<!--    Error messages       -->
            <div class="row">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <p class="blink_me center">{{ message }}</p>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
            </div>

<!--    Form      -->
            <div class="row">
                <form method="POST">
                    <div class="form-group card card-body bg-lightBlue">
                        <div class="row">

<!--    Login Username     -->
                            <div class="input-field col s12">
                                <label id="userLabel" class="strong-label">Username</label>
                                <input class="input" type="text" id="username" name="username" readonly>
                            </div>
                        </div>
                        <div class="row">

<!--    Login Password     -->
                            <div class="input-field col s12">
                                <label id="passwordLabel" class="strong-label">Password</label>
                                <input class="input" type="password" id="password" name="password" readonly>
                            </div>
                        </div>
                        <div class="row center">

<!--    Login Button     -->
                            <button class="btn waves-effect waves-light" type="submit">
                                <i class="material-icons right">arrow_forward</i>
                                Login
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

{% endblock %}