{% extends 'base.html' %} 
{% block content %}

<!--    A page for managing fields -->
    <div class="container first-container">
        <div class="row">

<!--    Title section     -->
            <div class="col">
                <h1>
                    SETUP section
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">

<!--    Short information section    -->
                <p class="intro-text">
                    Here you can manage some of the field setting on the website.
                </p>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-12">
                <h1>
                    Status
                </h1>
            </div>
            <div class="col-12">
                <p class="intro-text">
                    Use application, vacancy or user as type to add a status to that selection. Mandatory fields cannot be changed or deleted.
                </p>
            </div>
        </div>
        <div class="row">
            <ul class="list-group col-12">


            {% for stat in status %}
                <form action="{{url_for('uplete_status',status_id=stat._id)}}" method="POST">
                    
                    <li class="row">
                        <div class="col-lg-5 col-sm-12">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm7">Status Name</span>
                                </div>
                            {% if stat.status_name == 'closed' or stat.status_name == 'inactive' %}
                                <input value="{{stat.status_name}}" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm7" id="status_name" name="status_name" readonly>
                            {% else %}
                                <input value="{{stat.status_name}}" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm7" id="status_name" name="status_name">
                            {% endif %}
                            </div>
                        </div>

                        <div class="col-lg-5 col-sm-12">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm6">Type</span>
                                </div>
                            {% if stat.status_name == 'closed' or stat.status_name == 'inactive' %}
                                <input value="{{stat.type}}" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm6" id="type" name="type" readonly>
                            {% else %}
                                <input value="{{stat.type}}" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm6" id="type" name="type">
                            {% endif %}
                            </div>
                        </div>
                        
                        <div class="col-lg-2 col-sm-12 center-button">
                        {% if stat.status_name == 'closed' or stat.status_name == 'inactive' %}
                            <small>This is a mandatory status</small>
                        {% else %}
                            <button type="submit" class="btn btn-primary btn-sm" href="#" name="save" id="save_status">
                                Save
                            </button>
                            <button type="submit" class="btn btn-primary btn-sm" href="#" name="delete" id="delete_status">
                                Delete
                            </button>
                        {% endif %}
                        </div>    
                    </li>
                </form>
            {% endfor %}

                <form action="{{url_for('insert_status')}}" method="POST">
                    <li class="row">
                        <div class="col-lg-5 col-sm-12">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm4">Status Name</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm4" id="status_name" name="status_name">
                            </div>
                        </div>

                        <div class="col-lg-5 col-sm-12">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm5">Type</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm5" id="type" name="type">
                            </div>
                        </div>
                            
                        <div class="col-lg-2 col-sm-12 center-button">
                            <button type="submit" class="btn btn-primary btn-sm" href="{{url_for('insert_status')}}" name="insert">
                                Insert new status
                            </button>
                        </div>
                    </li>
                </form>
            </ul>
        </div>

        <hr>
        <div class="row">
            <div class="col-12">
                <h1>
                    Profiles
                </h1>
            </div>
            <div class="col-12">
                <p class="intro-text">
                    Profiles cannot be changed at this moment. Please contact the database administrator for more info.
                </p>
            </div>
        </div>
        <div class="row">
            <ul class="list-group col-12">
            {% for profile in profiles %}
                    <li class="row">
                        <div class="col-12">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm1">Profile Name</span>
                                </div>
                                <input value="{{profile.name}}" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm1" id="name" name="name" readonly>
                            </div>
                        </div>
                    </li>
            {% endfor %}
            </ul>
        </div>

        <hr>
        <div class="row">
            <div class="col-12">
                <h1>
                    Images
                </h1>
            </div>
            <div class="col-12">
                <p class="intro-text">
                    Here you can controle the vacancy(application) images.
                </p>
            </div>
        </div>
        <div class="row">
            <ul class="list-group col-12">


            {% for image in images %}
                <form action="{{url_for('uplete_image',image_id=image._id)}}" method="POST">
                    
                    <li class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm"2>Name</span>
                                </div>
                                <input value="{{image.name}}" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm2" id="name" name="name">
                            </div>
                        </div>

                        <div class="col-lg-7 col-sm-12">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm3">URL</span>
                                </div>
                                <input value="{{image.photo_url}}" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm3" id="photo_url" name="type">
                            </div>
                        </div>
                        
                        <div class="col-lg-2 col-sm-12 center-button">
                            <button type="submit" class="btn btn-primary btn-sm" href="#" name="save" id="save_image">
                                Save
                            </button>
                            <button type="submit" class="btn btn-primary btn-sm" href="#" name="delete" id="delete_image">
                                Delete
                            </button>
                        </div>    
                    </li>
                </form>
            {% endfor %}

                <form action="{{url_for('insert_image')}}" method="POST">
                    <li class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="name" name="name">
                            </div>
                        </div>

                        <div class="col-lg-7 col-sm-12">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm8">URL</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm8" id="photo_url" name="photo_url">
                            </div>
                        </div>
                            
                        <div class="col-lg-2 col-sm-12 center-button">
                            <button type="submit" class="btn btn-primary btn-sm" href="#" name="insert">
                                Insert new Photo
                            </button>
                        </div>
                    </li>
                </form>
            </ul>
        </div>

    </div>


    
{% endblock %}