{% extends 'base.html' %} 
{% block content %}

<!--    Users page      -->
    <div class="container first-container">
        <div class="row">

<!--    Title section     -->
            <div class="col-sm-9 col-md-9">
                <h1>
                    Users
                </h1>
            </div>

        </div>
        <div class="row">
            <div class="col-12">

<!--    Short information section    -->
                <p class="intro-text">
                    Here you can manage all user accounts. In the user to approve section you'll find users who have registrated on the site, but aren't approved yet. In the active section are all user now availailable to log in. And in the inactive section you'll find old users which have been blocked for logging in on the site.
                </p>
                <p class="intro-text">
                    You can see more information about the userprofile if you clik on the blue line. Here you can find your possible action for this user account. If you want to see the full userprofile, click on the username.
                </p>
            </div>
        </div>
        <hr>
        <div class="row">

<!--    Title approve section     -->
            <div class="col-sm-9 col-md-9">
                <h1>
                    Users asking for approval
                </h1>
            </div>

<!--    Button to add users   -->
            <div class="col-sm-3 col-md-3">
                <a href="{{url_for('add_user')}}" class="btn btn-outline-success button-margin">
                    + Add User
                </a>
            </div>
            <table class="table table-condensed" style="border-collapse:collapse;">
                <thead class="thead-dark">

<!--    User list table header   -->
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th class="mobile-hidden">Candidate</th>
                        <th>Userprofile</th>
                        <th class="mobile-hidden">Status</th>
                        <th class="mobile-hidden">Approved</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

<!--    User list with to approve status    -->
                {% for user in users_to_approve %}
                    {% with listtype='approval' %}
                        {% include 'userlist.html' %}
                    {% endwith %}
                {% endfor %}
                </tbody>
            </table>
        </div>

<!--    Users active section     -->
        <hr>
        <div class="row">

<!--    Title active section     -->
            <div class="col-sm-9 col-md-9">
                <h1>
                    Active users
                </h1>
            </div>
            <table class="table table-condensed" style="border-collapse:collapse;">
                <thead class="thead-dark">

<!--    User list table header   -->
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th class="mobile-hidden">Candidate</th>
                        <th>Userprofile</th>
                        <th class="mobile-hidden">Status</th>
                        <th class="mobile-hidden">Approved</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

<!--    User list with active status    -->
                    {% for user in users %}
                        {% with listtype='active' %}
                            {% include 'userlist.html' %}
                        {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

<!--    Users inactive section     -->
        <hr>
        <div class="row">
        
<!--    Title inactive section     -->
            <div class="col-sm-9 col-md-9">
                <h1>
                    Inactive users
                </h1>
            </div>

            <!--    Users active section     -->
            <table class="table table-condensed" style="border-collapse:collapse;">
                <thead class="thead-dark">

<!--    User list table header   -->
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th class="mobile-hidden">Candidate</th>
                        <th>Userprofile</th>
                        <th class="mobile-hidden">Status</th>
                        <th class="mobile-hidden">Approved</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

<!--    User list with inactive status    -->
                    {% for user in users_inactive %}
                        {% with listtype='inactive' %}
                            {% include 'userlist.html' %}
                        {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}