{% extends 'base.html' %} 
{% block content %}

<!--    Users page      -->
    <div class="container first-container">
        <div class="row">

<!--    Title section     -->
            <div class="col-sm-9 col-md-9">
                <h1>
                    Users
                </h1>
            </div>

        </div>
        <div class="row">
            <div class="col-12">

<!--    Short information section    -->
                <p class="intro-text">
                    Here you can manage all user accounts. In the user to approve section you'll find users who have registrated on the site, but aren't approved yet. In the active section are all user now availailable to log in. And in the inactive section you'll find old users which have been blocked for logging in on the site.
                </p>
                <p class="intro-text">
                    You can see more information about the userprofile if you clik on the blue line. Here you can find your possible action for this user account. If you want to see the full userprofile, click on the username.
                </p>
            </div>
        </div>
        <hr>
        <div class="row">

<!--    Title approve section     -->
            <div class="col-sm-9 col-md-9">
                <h1>
                    Users asking for approval
                </h1>
            </div>

<!--    Button to add users   -->
            <div class="col-sm-3 col-md-3">
                <a href="{{url_for('add_user')}}" class="btn btn-outline-success button-margin">
                    + Add User
                </a>
            </div>
            <table class="table table-condensed" style="border-collapse:collapse;">
                <thead class="thead-dark">

<!--    User list table header   -->
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th class="mobile-hidden">Candidate</th>
                        <th>Userprofile</th>
                        <th class="mobile-hidden">Status</th>
                        <th class="mobile-hidden">Approved</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

<!--    User list with to approve status    -->
                {% for user in users_to_approve %}

<!--    User info   -->
                    <tr data-toggle="collapse" data-target="#demo{{user.user_id}}" class="accordion-toggle">
                        <td>{{user.user_id}}</td>
                        <td>
                            <a  href="{{ url_for('profile', userid=user['_id']) }}">
                                {{user.user_name}}
                            </a>
                        </td>
                        <td class="mobile-hidden">
                            {{user.first_name}} {{user.last_name}}
                        </td>
                        <td>{{user.profile}}</td>
                    {% if user.status == 'active' %}
                        <td class="text-success mobile-hidden">
                            {{user.status}}
                        </td>
                    {% else %}
                        <td class="text-danger mobile-hidden">
                            {{user.status}}
                        </td>
                    {% endif %} {% if user.approved == True %}
                        <td class="text-success mobile-hidden">
                            {{user.approved}}
                        </td>
                    {% else %}
                        <td class="text-danger mobile-hidden">
                            {{user.approved}}
                        </td>
                    {% endif %}
                        <td>
                            <i class="material-icons text-info mr-2">arrow_downward</i>
                        </td>
                    </tr>
                    <tr>

<!--    Candidate info behind collapsible menu  -->
                        <td colspan="6" class="hiddenRow">
                            <div class="accordion-body collapse row" id="demo{{user.user_id}}">
                                <table class="user-collapse">
                                    <tr>
                                        <td>Email</td>
                                        <td>:</td>
                                        <td>{{user.email}}</td>
                                    </tr>
                                    <tr>
                                        <td>street</td>
                                        <td>:</td>
                                        <td>{{user.street}}</td>
                                    </tr>
                                    <tr>
                                        <td>House Nr</td>
                                        <td>:</td>
                                        <td>{{user.house_nr}}</td>
                                    </tr>
                                    <tr>
                                        <td>City</td>
                                        <td>:</td>
                                        <td>{{user.city}}</td>
                                    </tr>
                                    <tr>
                                        <td>Zip Code</td>
                                        <td>:</td>
                                        <td>{{user.zip_code}}</td>
                                    </tr>
                                </table>

<!--    Buttons to approve or delete new user    -->
                                <div class="center user-collapse">
                                {% if user.image_url != '' %}
                                    <img class="rounded-circle" id="blah" src="{{user.image_url}}" alt="your image" />
                                {% endif %}
                                    <a href="{{url_for('approve_user', userid=user._id)}}" class="btn btn-outline-success button-margin">
                                        Approve
                                    </a>
                                    <a href="{{url_for('delete_user', userid=user._id)}}" class="btn btn-outline-danger button-margin">
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

<!--    Users active section     -->
        <hr>
        <div class="row">

<!--    Title active section     -->
            <div class="col-sm-9 col-md-9">
                <h1>
                    Active users
                </h1>
            </div>
            <table class="table table-condensed" style="border-collapse:collapse;">
                <thead class="thead-dark">

<!--    User list table header   -->
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th class="mobile-hidden">Candidate</th>
                        <th>Userprofile</th>
                        <th class="mobile-hidden">Status</th>
                        <th class="mobile-hidden">Approved</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

<!--    User list with active status    -->
                    {% for user in users %}

<!--    User info   -->
                    <tr data-toggle="collapse" data-target="#demo{{user.user_id}}" class="accordion-toggle">
                        <td>{{user.user_id}}</td>
                        <td>
                            <a  href="{{ url_for('profile', userid=user['_id']) }}">
                                {{user.user_name}}
                            </a>
                        </td>
                        <td class="mobile-hidden">
                            {{user.first_name}} {{user.last_name}}
                        </td>
                        <td>{{user.profile}}
                    </td>
                    {% if user.status == 'active' %}
                        <td class="text-success mobile-hidden">
                            {{user.status}}
                        </td>
                    {% else %}
                        <td class="text-danger mobile-hidden">
                            {{user.status}}
                        </td>
                    {% endif %} 
                    {% if user.approved == True %}
                        <td class="text-success mobile-hidden">
                            {{user.approved}}
                        </td>
                    {% else %}
                        <td class="text-danger mobile-hidden">
                            {{user.approved}}
                        </td>
                    {% endif %}
                        <td>
                            <i class="material-icons text-info mr-2">arrow_downward</i>
                        </td>
                    </tr>
                    <tr>

<!--    Candidate info behind collapsible menu  -->
                        <td colspan="6" class="hiddenRow">
                            <div class="accordion-body collapse row" id="demo{{user.user_id}}">
                                <table class="user-collapse">
                                    <tr>
                                        <td>Email</td>
                                        <td>:</td>
                                        <td>{{user.email}}</td>
                                    </tr>
                                    <tr>
                                        <td>street</td>
                                        <td>:</td>
                                        <td>{{user.street}}</td>
                                    </tr>
                                    <tr>
                                        <td>House Nr</td>
                                        <td>:</td>
                                        <td>{{user.house_nr}}</td>
                                    </tr>
                                    <tr>
                                        <td>City</td>
                                        <td>:</td>
                                        <td>{{user.city}}</td>
                                    </tr>
                                    <tr>
                                        <td>Zip Code</td>
                                        <td>:</td>
                                        <td>{{user.zip_code}}</td>
                                    </tr>
                                </table>

<!--    Buttons to edit, deactive or delete user    -->
                                <div class="center user-collapse">
                                {% if user.image_url != '' %}
                                    <img class="rounded-circle" id="blah" src="{{user.image_url}}" alt="your image" />
                                {% endif %}
                                    <a href="{{url_for('edit_user', userid=user._id)}}" class="btn btn-outline-success button-margin">
                                        Edit
                                    </a>
                                    <a href="{{url_for('deactivate_user', userid=user._id)}}" class="btn btn-outline-danger button-margin">
                                        Deactivate
                                    </a>
                                    <a href="{{url_for('delete_user', userid=user._id)}}" class="btn btn-outline-danger button-margin">
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

<!--    Users inactive section     -->
        <hr>
        <div class="row">
        
<!--    Title inactive section     -->
            <div class="col-sm-9 col-md-9">
                <h1>
                    Inactive users
                </h1>
            </div>

            <!--    Users active section     -->
            <table class="table table-condensed" style="border-collapse:collapse;">
                <thead class="thead-dark">

<!--    User list table header   -->
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th class="mobile-hidden">Candidate</th>
                        <th>Userprofile</th>
                        <th class="mobile-hidden">Status</th>
                        <th class="mobile-hidden">Approved</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

<!--    User list with inactive status    -->
                    {% for user in users_inactive %}

<!--    User info   -->
                    <tr data-toggle="collapse" data-target="#demo{{user.user_id}}" class="accordion-toggle">
                        <td>{{user.user_id}}</td>
                        <td>
                            <a  href="{{ url_for('profile', userid=user['_id']) }}">
                                {{user.user_name}}
                            </a>
                        </td>
                        <td class="mobile-hidden">
                            {{user.first_name}} {{user.last_name}}
                        </td>
                        <td>{{user.profile}}</td>
                    {% if user.status == 'active' %}
                        <td class="text-success mobile-hidden">
                            {{user.status}}
                        </td>
                    {% else %}
                        <td class="text-danger mobile-hidden">
                            {{user.status}}
                        </td>
                    {% endif %} 
                    {% if user.approved == True %}
                        <td class="text-success mobile-hidden">
                            {{user.approved}}
                        </td>
                    {% else %}
                        <td class="text-danger mobile-hidden">
                            {{user.approved}}
                        </td>
                    {% endif %}
                        <td>
                            <i class="material-icons text-info mr-2">arrow_downward</i>
                        </td>
                    </tr>
                    <tr>

<!--    Candidate info behind collapsible menu  -->
                        <td colspan="6" class="hiddenRow">
                            <div class="accordion-body collapse row" id="demo{{user.user_id}}">
                                <table class="user-collapse">
                                    <tr>
                                        <td>Email</td>
                                        <td>:</td>
                                        <td>{{user.email}}</td>
                                    </tr>
                                    <tr>
                                        <td>street</td>
                                        <td>:</td>
                                        <td>{{user.street}}</td>
                                    </tr>
                                    <tr>
                                        <td>House Nr</td>
                                        <td>:</td>
                                        <td>{{user.house_nr}}</td>
                                    </tr>
                                    <tr>
                                        <td>City</td>
                                        <td>:</td>
                                        <td>{{user.city}}</td>
                                    </tr>
                                    <tr>
                                        <td>Zip Code</td>
                                        <td>:</td>
                                        <td>{{user.zip_code}}</td>
                                    </tr>
                                </table>

<!--    Buttons to active or delete user    -->
                                <div class="center user-collapse">
                                {% if user.image_url != '' %}
                                    <img class="rounded-circle" id="blah" src="{{user.image_url}}" alt="your image" />
                                {% endif %}
                                    <a href="{{url_for('activate_user', userid=user._id)}}" class="btn btn-outline-success button-margin">
                                        Activate
                                    </a>
                                    <a href="{{url_for('delete_user', userid=user._id)}}" class="btn btn-outline-danger button-margin">
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}