{% extends 'base.html' %} 
{% block content %}

<!--    A page for (open) vacancies -->
<!--    This section shows the ongoing vacancies     -->
    <div class="container first-container-cards">
        <div class="row">

<!--    Title open section     -->
            <div class="col">
                <h1>
                    Open Vacancies
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9 col-md-7">

<!--    Short information section    -->
                <p class="intro-text">
                    Do you recognize yourself in our profile and are you looking for a challenging position at a 
                    flourishing company in the utility sector? View our current vacancies here and 
                    <a title="Contact us" href="#" data-toggle="modal" data-target="#contactModal">
                        contact us
                    </a> 
                    or email your resume!
                </p>
            </div>
            <div class="col">

<!--    Button to add vacancy, only available for admin    -->
            {% if g.user['profile'] == 'admin' %}
                <a href="{{url_for('add_vacancy')}}" class="btn btn-outline-success center-button">
                    + Add Vacancy
                </a> 
            {% endif %}
            </div>
        </div>
    </div>

<!--    Carddeck of vacancies      -->
    <hr>
    <div class="card-deck">
    {% for vac in vacancies_open %}
        {% with listtype='vacancies', liststatus='open' %}
            {% include 'cards.html' %}
        {% endwith %}
    {% endfor %}
    </div>

<!--    This section shows the closed vacancies, only available for the admin     -->
{% if g.user['profile'] == 'admin' %}
    <hr>
    <div class="container second-container">
        <div class="row">

<!--    Title closed section, this section is only avalailable for the admin     -->
            <div class="col">
                <h1>
                    Closed Vacancies
                </h1>
            </div>
        </div>
    </div>

<!--    Carddeck of closed vacancies      -->
    <div class="card-deck">
        {% for vac in vacancies_closed %}
            {% with listtype='vacancies', liststatus='closed' %}
                {% include 'cards.html' %}
            {% endwith %}
        {% endfor %}
    </div>
{% endif %}
    
{% endblock %}