{% extends 'base.html' %}
{% block content %}

<!--    A page for open vacancies -->
    <div class="container first-container">
        <div class="row">

<!--    Title open section     -->
            <div class="col">
                <h1>Open Vacancies</h1>
            </div>
            
        </div>
        <div class="row">
            <div class="col-sm-9 col-md-7">
<!--    Short information section    -->
                <p class="intro-text">Do you recognize yourself in our profile and are you looking for a challenging position at a flourishing company in the utility sector? View our current vacancies here and contact us or email your resume!
                </p>
            </div>
            <div class="col">
<!--    Button to add vacancy, only available for admin    -->
            {%  if g.user['profile'] == 'admin' %}
                <a href="{{url_for('add_vacancy')}}" class="btn btn-outline-success center-button">
                    + Add Vacancy
                </a>
            {% endif %}
            </div>
        </div>

<!--    Carddeck of vacancies      -->
        <div class="card-deck">
        {% for vac in vacancies_open %}
            <div class="card col-sm-12 col-md-5">
                <img class="card-img-top" src="{{vac.photo_url}}" alt="Card image cap">
                <div class="card-body">
                    <div class="row center-button">

<!--    Button section, only availlable when logged in     -->
                    {%  if g.user['profile'] == 'admin' %}
                        <a href="{{url_for('edit_vacancy', vacancy_id=vac._id)}}" class="btn btn-outline-info button-margin">Edit</a>
                        <a href="{{url_for('add_application', vacancy_id=vac._id)}}" class="btn btn-outline-info button-margin">Application</a>
                        <a href="{{url_for('close_vacancy', vacancy_id=vac._id)}}" class="btn btn-outline-warning button-margin">Close</a>
                        <a href="{{url_for('delete_vacancy', vacancy_id=vac._id)}}" class="btn btn-outline-danger button-margin">Delete</a>
                    {% elif g.user['profile'] == 'user' %}
                        <a href="{{url_for('add_application', vacancy_id=vac._id)}}" class="btn btn-outline-info">Apply to this vacancy!</a>
                    {% endif %}
                    </div>

<!--    Vacancy information      -->
                    <h5 class="card-title center">{{vac.vacancy_name}}</h5>
                    <hr class="hr-vacancy">
                    <p class="card-text center">
                        Hours : {% if vac.hours != null and vac.hours != '' %}{{vac.hours}} {% else %} unknown{% endif %}<br>
                        Salary : {% if vac.salary != null and vac.salary != '' %}{{vac.salary}} {% else %} unknown{% endif %}<br>
                        Location : {% if vac.location != null and vac.location != '' %}{{vac.location}} {% else %} unknown{% endif %}
                    </p>
                    <hr class="hr-vacancy">
                    <p class="card-text textarea-breaks">{{vac.vacancy_text}}</p>
                    <p class="card-text"><small class="text-muted">closes on {{vac.end_date}}</small></p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}